@use '../../../abstract/variables' as *;

h2 {
  font-size: 1.8rem;
}

h3 {
    font-size: 1.5rem;
}

.detail-main {
  height: fit-content;
  width: 100vw;
  background-color: $darkGreen;
  color: $white;

  button {
    height: 6vh;
    width: 75vw;
    background-color: $lightGreen;
    color: $white;
    font-size: 1.5rem;
    font-family: 'Baloo Chettan 2', cursive;
    font-weight: 800;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    box-shadow: 0px 0px 0px 2px $orange;
    margin-bottom: 4vh;
  }
}

.cg-image {
  height: 30vh;
  width: 100vw;
}

.cg-name {
  height: fit-content;
  width: 100vw;
  @include centered(column, center);

  h2 {
    margin: 2vh 10vw 2vh 10vw;
  }
}

.cg-desc-section {
  height: fit-content;
  width: 100vw;
  background-color: $lightGreen;
  text-align: center;
  font-size: 1.3rem;
  padding: 2vh;
}

.cg-map-section {
  @include centered(column, center);
  height: fit-content;
  width: 100vw;
  padding: 4vh;
}

.cg-map {
  border-radius: 5px;
}

.divider-cg-info {
  width: 190px;
  height: 0px;
  border: 1px solid #F9A03F;
}

.cg-details-section {
  height:fit-content;
  width: 100vw;
}

.cg-details-header {
  padding: 3vh;
}

.cg-details-copy-section {
  padding-bottom: 2vh;
}

.cg-details-copy {
  font-size: 1.3rem;
  padding: 1rem 7vw 0rem 7vw;
}

.cg-activities-section {
  height: fit-content;
  padding: 3vh 0vw 3vh 0vw;
}

.divider-cg-activities {
  width: 103px;
  height: 0px;
  border: 1px solid #F9A03F;
}

.cg-activities-header {
  padding: 0vh 0vw 1vh 7vw;
}

.cg-activities-list {
  list-style-type: circle;
  padding-left: 12vw;
  font-size: 1.3rem;
}

.detail-btns {
  @include centered(column, center);
}

.cg-review-section {

}

.divider-cg-reviews {
  width: 90px;
  height: 0px;
  border: 1px solid #F9A03F;
}

.cg-reviews-header {
  padding: 0vh 0vw 3vh 7vw;
}