h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.5rem;
}

p {
  font-size: 1.3rem;
}

.detail-main {
  height: -moz-fit-content;
  height: fit-content;
  width: 100vw;
  background-color: #283618;
  color: #FBFAF5;
}
.detail-main button {
  height: 6vh;
  width: 75vw;
  max-width: 600px;
  background-color: #606C38;
  color: #FBFAF5;
  font-size: 1.5rem;
  font-family: "Baloo Chettan 2", cursive;
  font-weight: 800;
  box-shadow: 0px 0px 0px 2px #F9A03F;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 4vh;
}

.cg-images-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.cg-images {
  width: 100%;
  max-width: 1000px;
  border-radius: 5px;
}

.cg-name {
  height: -moz-fit-content;
  height: fit-content;
  width: 100vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cg-name h2 {
  margin: 2vh 10vw 2vh 10vw;
}

.cg-desc-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: -moz-fit-content;
  height: fit-content;
  width: 100vw;
  background-color: #606C38;
  text-align: center;
  padding: 2vh;
}

.cg-desc {
  max-width: 1000px;
}

.cg-map-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: -moz-fit-content;
  height: fit-content;
  width: 100vw;
  padding: 4vh;
}

.cg-map {
  border-radius: 5px;
}

.divider-cg-info {
  width: 190px;
  height: 0px;
  border: 1px solid #f9a03f;
}

.cg-details-section {
  height: -moz-fit-content;
  height: fit-content;
  width: 100vw;
}

.cg-details-header {
  padding: 0vh 0vw 1vh 7vw;
}

.cg-details-copy-section {
  padding-bottom: 2vh;
}

.cg-details-copy {
  font-size: 1.3rem;
  font-weight: 600;
  padding: 1rem 7vw 0rem 7vw;
}

.cg-activities-section {
  height: -moz-fit-content;
  height: fit-content;
  padding: 3vh 0vw 3vh 0vw;
}

.divider-cg-activities {
  width: 103px;
  height: 0px;
  border: 1px solid #f9a03f;
}

.cg-activities-header {
  padding: 0vh 0vw 1vh 7vw;
}

.cg-activities-list {
  list-style-type: circle;
  padding-left: 7vw;
  transform: translateX(22px);
  font-size: 1.3rem;
  font-weight: 600;
}

.detail-btns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.divider-cg-reviews {
  width: 90px;
  height: 0px;
  border: 1px solid #f9a03f;
}

.cg-reviews-header {
  padding: 0vh 0vw 15px 7vw;
}

.total-star-section {
  padding: 0vh 0vw 0vh 7vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

#noReviewYet {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.total-star-rating {
  font-size: 1.8rem;
  font-weight: 800;
  margin-bottom: 10px;
}

.total-star-imgs {
  padding: 2px;
  height: 3rem;
}

.cg-review-section {
  background-color: #606C38;
  margin-bottom: 4vh;
  padding-top: 3vh;
}

.user-review-section {
  padding: 4vh 0vw 4vh 6vw;
}

.user-review-form {
  width: 80vw;
  padding: 0vh 0vw 3vh 7vw;
  display: flex;
  flex-direction: column;
}
.user-review-form input {
  max-width: 400px;
  padding: 5px;
  margin: 5px 0px 10px 0px;
  border-radius: 5px;
  border: none;
}

#submit-review-button {
  width: 50vw;
  max-width: 400px;
  margin: 0vh 0vw 0vh 7vw;
  background-color: #283618;
}

.review-error {
  padding-left: 7vw;
  color: #F9A03F;
  font-size: 2rem;
}

.loading-gif {
  width: 100vw;
  max-width: 500px;
}

.error-gif {
  width: 100vw;
  max-width: 500px;
}

.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}/*# sourceMappingURL=Details.css.map */