@use '../../../abstract/variables' as *;

.user-review {
  height: fit-content;
  padding-bottom: 2vh;
  background-color: $grey;
  width: 45%;
  border-radius: 5px;
  border: 2px solid black;
  margin-top: 5vh;
  padding-left: 1vw;
  p {
    padding-right: 2vw;
    overflow-wrap: break-word;
  }
}

.user-review-header {
  @include centered(row, flex-start);
  margin-bottom: 1rem;
  margin-top: 1rem;
  p {
    font-size: 1.5rem;
    margin-left: 15px;
    font-weight: 700;
  }
}

.review-image {
  width: 80%;
  max-width: 500px;
  border-radius: 5px;
}

.data-description {
  margin-bottom: 1vh;
}

@media only screen and (max-width: 768px) {
  .user-review {
    height: fit-content;
    padding-bottom: 2vh;
    background-color: $grey;
    width: 90%;
    border-radius: 5px;
    border: 2px solid black;
    margin-top: 5vh;
    padding-left: 1vw;
    p {
      padding-right: 2vw;
      overflow-wrap: break-word;
    }
  }
}
