@use '../../../abstract/variables' as *;

.user-review {
  height: fit-content;
  padding-bottom: 2vh;
  background-color: $grey;
  width: 40%;
  border-radius: 5px;
  border: 2px solid black;
  margin-top: 5vh;
  p {
    padding-right: 2vw;
  }
}

.user-review-header {
  @include centered(row, flex-start);
  margin-bottom: 1rem;
  
  p {
    font-size: 1.5rem;
    margin-left: 15px;
    font-weight: 700;
  }
}

.review-image {
  width: 87vw;
  max-width: 500px;
  border-radius: 5px;
}
