@use '../../../abstract/variables' as *;

.nav-main {
  height: 10vh;
  background-color: $darkGreen;
  @include centered(column, center);
}

.site-title {
  color: $white;
  font-size: 1.6rem;
  margin-left: 5px;
}

.title-link {
  text-decoration: none;
  display: flex;
  align-items: center;
}

.logo {
  height: 10vh;
  flex: 1;
  max-width: calc(100% / 3);
}
