@use "../../../abstract/variables" as *;

html {
  background-color: $darkGreen;
  color: $white;
  font: $mainFont;
}

.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: fit-content;
  width: 100vw;
  background-color: $darkGreen;
  color: $white;
  font: $mainFont;
}

.search-container {
  position: absolute;
  @include centered(column, center);
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  height: fit-content;
}

.search-form {
  @include centered(column, center);
}

#search-dropdown {
  padding: 2px;
  @include orangeBorderRounded;
}

.search {
  width: 50vw;
  max-width: 200px;
  height: 25px;
  padding: 2px 2px 2px 6px;
  margin-top: 20px;
  @include orangeBorderRounded;
  position: relative;
}

.search-button,
.geolocation-button {
  font: $mainFont;
  width: 30vw;
  max-width: 100px;
  height: fit-content;
  background-color: $darkGreen;
  color: $white;
  @include orangeBorderRounded;
  margin-top: 20px;
  font-family: "Baloo Chettan 2", cursive;
  font-weight: 700;
  font-size: 1.3rem;
  cursor: pointer;
}

.campfire {
  width: 100vw;
  max-width: 500px;
}

.fav-campgrounds-title {
  text-decoration: underline;
  text-decoration-color: $orange;
  margin-bottom: 2vh;
}

.favorites-section {
  @include centered(column, center);
  height: fit-content;
  width: 100vw;
}

.geolocation-msg {
  text-align: center;
}

#geoButton {
  width: 50vw;
  max-width: 300px;
}
