@use "../../../abstract/variables" as *;

html {
  background-color: $darkGreen;
  color: $white;
  font: $mainFont;
}

.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: $darkGreen;
  color: $white;
  font: $mainFont;
}

.search-container {
  position: absolute;
  @include centered(column, center);
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.search-form {
  @include centered(column, center)
}

#search-dropdown {
  padding: 2px;
  @include orangeBorderRounded;
}

.search {
  width: 50vw;
  height: 25px;
  margin-top: 4vh;
  @include orangeBorderRounded;
  position: relative;
}

.search-button {
  font: $mainFont;
  width: 30vw;
  height: 25px;
  background-color: $darkGreen;
  color: $white;
  border: solid 2px $orange;
  border-radius: 8px;
  margin-top: 1rem;
}

.campfire {
  width: 100vw;
}

.fav-campgrounds-title {
  text-decoration: underline;
  text-decoration-color: $orange;
}

.mySwiper {
  width: 100%;
  height: 50vh;
  z-index: 1;
  position: relative;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
